.kh-details {
  padding: 5%;

  h1 {
    font-size: 24px;
    font-weight: 500;
    text-decoration: underline;
    cursor: hand;
  }
  h4 {
    margin: 8px 8px 8px 0;
    font-weight: 400;
  }

  .md-button {
    border: 1px solid #20a8e9;
    border-radius: 5px;
    margin: 0px 1px !important;
  }

}